<div class="block-content">
  <h2>Categories</h2>
  {{#link-to 'categories.new' class="add" }}Add Category{{/link-to}}
</div>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Short Description
    </th>
    <th>
      Post Count
    </th>
    <th>
      Created
    </th>
    <th>
      Options
    </th>
  </tr>
  {{#each model as |category|}}
    <tr>
      <td>
        {{category.name}}
      </td>
      <td>
        {{category.short_description}}...
      </td>
      <td>
        {{category.post_count}}
      </td>
      <td>
        {{category.created}}
      </td>
      <td>
        {{#link-to 'categories.edit' category.id class='button'}}Edit{{/link-to}}
        <button {{action 'deleteCategory' category}} class="negative">Delete</button>
      </td>
    </tr>
  {{/each}}
</table>

