{{menu-bar pages=pages}}
{{mobile-menu pages=pages}}
<div id="main">
    {{page-header}}
    <section class="posts">
    <h5>All the posts, chronologically.</h5>
    <ul>
        {{#each posts as |post|}}
        <li>
        <h3>{{#link-to 'show' post.slug}}{{post.title}}{{/link-to}}</h3>
        <h6>{{post.published_date}}</h6>
        <p>{{post.description}}</p>
        </li>
        {{/each}}
    </ul>
    <ul class="pagination">
        {{#unless isFirstPage}}
        <li>{{#link-to "posts" (query-params page=previousPage) class='previous'}}{{/link-to}}</li>
        {{/unless}}
        {{#each pageNumbers as |number|}}
        {{#if (eq page number)}}
            <li>{{#link-to "posts" (query-params page=number) class='active'}}{{number}}{{/link-to}}</li>
        {{else}}
            <li>{{#link-to "posts" (query-params page=number)}}{{number}}{{/link-to}}</li>
        {{/if}}
        {{/each}}
        {{#unless isLastPage}}
        <li>{{#link-to "posts" (query-params page=nextPage) class='next'}}{{/link-to}}</li>
        {{/unless}}
    </ul>
    </section>
    {{small-footer}}
</div>
