<h2>Users</h2>
{{#link-to 'users.new' class="add"}}Add User{{/link-to}}
<table>
  <tr>
    <th>
      Username
    </th>
    <th>
      Email
    </th>
    <th>
      Role
    </th>
    <th>
      Post Count
    </th>
    <th>
      Created
    </th>
    <th>
      Options
    </th>
  </tr>
  {{#each model as |user|}}
    <tr>
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.role}}
      </td>
      <td>
        {{user.post_count}}
      </td>
      <td>
        {{user.created}}
      </td>
      <td>
        {{#link-to 'users.edit' user.id class='button'}}Edit{{/link-to}}
        {{#link-to 'users.change-password' user.id class='button'}}Change Password{{/link-to}}
        <button {{action 'delete' user}} >Delete</button>
      </td>
    </tr>
  {{/each}}
</table>
