<div class="viewer">
{{#if model.isImage}}
  <img src={{model.path}}>
{{else}}
  <div class='regular {{model.extension}}'><a href=""></a></div>
{{/if}}
</div>
<div class="info">
  <span class="name">{{model.filename}}</span>
  <input id="url" type="text" value={{model.path}}>
  {{#copy-button
    clipboardTarget="#url"
    success="successfulCopy"
    error="error"
  }}
    a
  {{/copy-button}}
</div>
