<footer>
  {{partial 'brain'}}
  <section>
    <div class="quote">
      <span class="category-definition cerebral">
        {{partial 'brain'}}
        <h5>{{post.category_names}}</h5>
        <p>{{post.category_descriptions}}</p>
      </span>
      <h3>{{post.title}}</h3>
      <p>{{post.description}}</p>
    </div>
    <div class="social">
      <h5>I'm on the internet, say hello! </h5>
      <ul>
        <li>
          <a href="" class="github" title="Github"></a>
        </li>
        <li>
          <a href="" class="twitter" title="Twitter"></a>
        </li>
        <li>
          <a href="" class="linked-in" title="Linked-In"></a>
        </li>
        <li>
          <a href="" class="facebook" title="Facebook"></a>
        </li>
      </ul>
    </div>
  </section>
</footer>
