<div class="files">
{{input type="txt" value=pathToCreate placeholder="create(mkdir)/any/path/structure"}}
  <button class='add-directory' {{action 'createDirectory' pathToCreate }}> uo</button>
  <ul class="previews">
  </ul>
  <br>
  <span class='help-text'>Drag files to any folder name to upload.</span>
  {{drop-zone url=uploadURL clickable=false addRemoveLinks=true sending=sendingFileEvent complete=uploadComplete previewTemplate=previewTemplate previewsContainer=".previews" addRemoveLinks=false dictDefaultMessage="Drop here."}}
  <ul>
  {{#each model as |file|}}
    {{#if (eq file.type "directory") }}
      <li class={{file.type}}>
        {{drop-zone url=uploadURL clickable=false addRemoveLinks=true sending=sendingFileEvent complete=uploadComplete previewTemplate=previewTemplate previewsContainer=".previews" addRemoveLinks=false dictDefaultMessage="Drop here."}}
        <a href={{file.path}} {{action 'browse'}}>{{file.filename}}</a>
        <button class='remove-file' {{action 'deleteFile' file }}>9</button>
        {{#if (gt file.children.length 0) }}
          {{partial "uploads/filelist" this}}
        {{/if}}
      </li>
    {{else}}
      <li class='{{file.type}} {{file.extension}}'>
        <a href={{file.path}} {{action 'preview' file}}>{{file.filename}}</a>
        <button class='remove-file' {{action 'deleteFile' file }}>9</button>
      </li>
    {{/if}}
  {{/each}}
  </ul>
</div>
<div class="preview">
  {{outlet}}
</div>


