<form class="post-edit-form" {{action "update" on="submit"}}>
  <div class="post-toolbar">
    <button class="positive" type="submit">{{#if model.published}}Save & Publish{{else}}Save Draft{{/if}}</button>
    <button {{action "deletePost" model}} class="negative">Delete</button>
    <button {{action 'showPublishing'}} class="show-publishing">Publishing</button>
    <button {{action 'showFiles'}} class="show-files">Files</button>
  </div>
  {{file-browser files=uploads store=controller.store}}
  <div class="publishing-info">
    <div class="image">
     <label>Primary Image: </label>
     <label>URL: </label>
      {{input type="text" value=model.image placeholder="Add A Title" }}
      {{#if model.image}}
        <img src={{model.image}}>
      {{/if}}
    </div>
    <div class="description">
      <label>Description: </label>{{textarea type="text" value=model.description placeholder="Breif description text used in intros & previews."}}
    </div>
      {{category-select selected_alpha_categories=model.alpha_categories all_categories=all_categories post=model}}
    <div class="meta">
      <label>Publish: </label>{{input type="checkbox" name="published" checked=model.published}}
      {{#if model.published}}<label>Published: </label>{{#if model.published_date }}<p>{{model.published_date}}</p>{{else}}<p>Will be published on save<span class="dots"></span></p>{{/if}}{{/if}}
      <label>URL: </label>
      {{input type="text" value=model.slug placeholder=model.url_safe_title class="slug"}}
      <label>Author:</label>
      <p class="author"> {{model.last_editor_name}}</p>
      <label>Last Edit:</label>
      <p class="last-edit">{{model.last_edit_time}}</p>
    </div>
  </div>
  <div class="post-editor">
    <div class="editor">
      {{textarea type="text" value=model.body placeholder="Post body goes here... Use Markdown FTW!"}}
    </div>
    <div class="post-edit-preview">
      <h1>{{input type="text" value=model.title placeholder="Add A Title" required="required"}}</h1>
      {{{format-markdown model.body}}}
    </div>
  </div>
</form>
